* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

.back-button {
    display: none;
}

.gallery {
    position: relative;
}

.image-holder {
    /* Simple hack to keep a 1:1 aspect ratio */
    padding-top: 100%;
}

.image-holder img {
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 300ms;
}

.image-holder img.active {
    opacity: 1;
}

.thumbnail-container img {
    width: 33%;
    float: left;
}